---
layout: default
title: 关于
---

<h2>这是什么？</h2>
<p>解释一：试验性地用全新方法阐述黑猩猩能利用树枝去捕食洞穴内的蚂蚁的原理。</p>
<p>解释二：公开展示部分土豪的财产，为打倒土豪、劫富济贫收集证据。</p>

<h3>常见问题</h3>
<dl>

<dt>毛遂自荐？</dt>
<dd>请联系 business#torriacg.org。（记得把“#”换成“@”）</dd>

<dt>我可以搭建类似的 The Setup 网站吗？</dt>
<dd>当然可以！我们 fork 了 <a href="http://github.com/waferbaby/usesthis/" title="The source code for the site.">Github 上的 Usesthis</a> ，如果你也这么做了，请<a href="http://usesthis.com/about/">联系 usesthis 的作者</a>。</dd>

</dl>